.dashboardMain {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headerMain {
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

.mainContent {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}